<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/index.css" rel="stylesheet" />
    <link href="/static/icon.png" rel="icon"> 
    <link href='https://fonts.googleapis.com/css?family=Lexend Deca|League Spartan' rel='stylesheet'>
    <title>BellsVote</title>
</head>
<body>
   <main>
    <div class="hero"></div>
    <div class="content">
        <div class="content-1">
            <div class="h-text">
                <h1>Welcome !</h1>
                <h2>to BELLS TECH Official Voting Portal</h2>
            </div>
            <div class="auth-buttons">
                <p>Please login or sign-up to get started</p>
                <div class="iauth-buttons">
                    <div class="login">
                        <form method="get" action="/login">
                            <button>LOGIN</button>
                        </form>
                    </div>
                    <div class="sign-up">
                        <div>
                            <form method="get" action="/s_signup">
                                <button>SIGN-UP</button>
                            </form>
                        </div>
                        <div>
                            <form method="get" action="/a_signup">
                                <button>SIGN-UP</button>
                            </form>
                            <p>as admin</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-2">
            <div>
                <img src="./static/icon.png" alt="bells-logo" />
                <p>Only the best is good for BELLS.....</p>
            </div>
        </div>
    </div>
   </main>
</body>
</html>