<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/layout1.css" rel="stylesheet" />
    <link href="/static/icon.png" rel="icon"> 
    <link href='https://fonts.googleapis.com/css?family=Lexend Deca|League Spartan' rel='stylesheet'>
    <title>BellsVote</title>
</head>
<body>
   <main>
    <div class="hero"></div>
    <div class="content">
        <div class="content-1">
            {% block content1 %}{% endblock %}
        </div>
        <div class="content-2">
            <div>
                <img src="./static/icon.png" alt="bells-logo" />
                <p>Only the best is good for BELLS.....</p>
            </div>
        </div>
    </div>
   </main>
</body>
</html>