{% extends "layout1.html" %}
{% block content1 %}
<div class="s_signup">
    <h1>Sign-up</h1>
    <div class="inputs">
        <p class="err">{{ err_message }}</p>
        <form action="/s_signup" method="post">
            <div>
                <p>First name:</p><br>
                <input type="text" name="firstName">
            </div>
            <div>
                <p>Last name:</p><br>
                <input type="text" name="lastName">
            </div>
            <div>
                <p>Email:</p><br>
                <input type="email" name="email">
            </div>
            <div>
                <p>Matric-no:</p><br>
                <input type="text" name="matricNo">
            </div>
            <div>
                <p>College:</p><br>
                <select name="college">
                    <option value="" disabled selected>--select--</option>
                    <option value="COLFAST">COLFAST</option>
                    <option value="COLNAS">COLNAS</option>
                    <option value="COLMANS">COLMANS</option>
                    <option value="COLENVS">COLENVS</option>
                    <option value="COLENG">COLENG</option>
                </select>
            </div>
            <div>
                <p>Level</p><br>
                <select name="level">
                    <option value="" disabled selected>--select--</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="300">300</option>
                    <option value="400">400</option>
                    <option value="500">500</option>
                </select>
            </div>
            <div>
                <p>Password</p><br>
                <input type="password" name="password">
            </div>
            <div>
                <p>Confirm Password</p><br>
                <input type="password" name="passwordConf">
            </div>

            <button type="submit">Submit</button>
        </form>
    </div>
</div>

{% endblock %}